extends ../layout

block content
  .col-sm-8.col-sm-offset-2
    form(method='POST'   ng-contoller="LoginCtrl" )
      legend Sign In
      .form-group
        .btn-group.btn-group-justified
          a.btn.btn-facebook(href='/auth/facebook')
            i.fa.fa-facebook
            | Facebook
          a.btn.btn-twitter(href='/auth/twitter')
            i.fa.fa-twitter
            | Twitter
          a.btn.btn-github(href='/auth/github')
            i.fa.fa-github
            | GitHub
          a.btn.btn-google-plus(href='/auth/google')
            i.fa.fa-google-plus
            | Google
      .form-group
        label.control-label(for='email') Email
        input.form-control(type='email', name='email', id='email', placeholder='Email', autofocus=true ng-model="email")
      .form-group
        label.control-label(for='username') Password
        input.form-control(type='password', name='password', id='password', placeholder='Password' ng-model = "password")
      .form-group
        button.btn.btn-primary(ng-click="login()" id="{{count}}"  )
          i.fa.fa-unlock-alt
          | Login
block addscripts
    
