extends ../layout

block content
  form.form-horizontal(id='signup-form', method='POST')
    legend Signup
    .form-group
      label.col-sm-3.control-label(for='email') Email
      .col-sm-7
        input.form-control(type='email', name='email', id='email', placeholder='Email', autofocus)
    .form-group
      label.col-sm-3.control-label(for='username') Password
      .col-sm-7
        input.form-control(type='password', name='password', id='password', placeholder='Password')
    .form-group
      label.col-sm-3.control-label(for='username') Confirm Password
      .col-sm-7
        input.form-control(type='password', name='confirmPassword', id='confirmPassword', placeholder='Confirm Password')
 
    .form-group
      label.col-sm-3.control-label(for='username') First Name
      .col-sm-7
        input.form-control(type='text', name='firstname', id='firstname', placeholder='First Name ')
    .form-group
      label.col-sm-3.control-label(for='username') Last Name
      .col-sm-7
        input.form-control(type='text', name='lastname', id='lastname', placeholder='Last Name')
    .form-group
      label.col-sm-3.control-label(for='username') Gender
      .col-sm-7
        select(name='gender',id="gender")
          option(value='Male') Male
          option(value="Female") Female
    .form-group
      .col-sm-offset-3.col-sm-7
        button.btn.btn-success(type='submit')
          i.fa.fa-check
          | Signup
