doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    title Leaguify - Create and manage your own sports leagues
    != css('styles')
    != css('bootstrap.min')
    != css('bootstrap-theme.min')
    script(data-main="/js/main", src="js/libs/requirejs/require.js")
    script(src="js/cache-refresh.js")
      


    


  body
    #wrap
      include partials/navigation
      .container
        include partials/flash
        block content
    include partials/footer
    
    
    block add_scripts
    
